<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>398951068879-llg9g1ag2em3dbdloe9r6dd2s666qrer.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.398951068879-llg9g1ag2em3dbdloe9r6dd2s666qrer</string>
	<key>API_KEY</key>
	<string>AIzaSyCa6xHLKSMbwpI8Rg8iELBYWEp7z_QoUfY</string>
	<key>GCM_SENDER_ID</key>
	<string>398951068879</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mighty.fooddelivery</string>
	<key>PROJECT_ID</key>
	<string>food-delivery-4e11c</string>
	<key>STORAGE_BUCKET</key>
	<string>food-delivery-4e11c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:398951068879:ios:339184120e43df1091f3ba</string>
</dict>
</plist>